.App {
  text-align: center;
}


h2{
  font-size: 2.3rem;
  text-decoration: underline;
  background: lightblue;
  margin: 0;
  height: 18vh;
  
  width: 100%;
  border: solid;
  display:flex ;
  justify-content: center;
  align-items: center;
}

.picList{
  background: lightcoral;
  height: 100vh;
  
  
}
.pic{
  margin: 2%;
  border: 2px solid black;;
}
button{
  font-size: 1.8rem;
  background: lightblue;
  box-shadow: 2px 2px gray;
}